.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
    width: 614px;
  }

  &__form-fild {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    height: 100%;
    width: 100%;
  }
  @media screen and (min-width: $bp-tablet) {
    height: 595px;
    width: 600px;
  }
}
